{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<div class="title-bar show-for-small-only">
  <button class="nav-menu-icon float-left" type="button">
    <i class="fas fa-bars"></i>
  </button>
  <div class="title-bar-title nav-menu-logo float-center">{{ page.title | escape }}</div>
</div>
<div class="grid-container show-for-medium">
  <div class="top-bar nav-menu">
    <div class="top-bar-left">
      <ul class="vertical medium-horizontal menu">
        <li>
          <a class="nav-menu-logo nav-menu-logo-large" rel="author" href="{{ "/" | relative_url }}">
            {{ site.title | escape }}
          </a>
        </li>
        {%- for menu_item in site.data.nav_menu -%}
          <li>
            <a class="nav-menu-link" href="{{ menu_item.link }}">
              {{ menu_item.name }}
            </a>
          </li>
        {% endfor -%}
      </ul>
    </div>
    <div class="top-bar-right">
    </div>
  </div>
</div>
<div class="nav-drawer">

</div>
