{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<div class="title-bar show-for-small-only">
  <button class="nav-menu-icon float-left" type="button">
    <i class="fas fa-bars"></i>
  </button>
  <div class="title-bar-title nav-menu-logo float-center">
    {% if page.title %}
      {{ page.title | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
  </div>
</div>
<div class="nav-menu-container">
  <div class="grid-container show-for-medium">
    <div class="top-bar nav-menu">
      <div class="top-bar-left">
        <ul class="menu">
          <li>
            <a class="nav-menu-logo nav-menu-logo-large" rel="author" href="{{ "/" | relative_url }}">
              {{ site.title | escape }}
            </a>
          </li>
          {%- for menu_item in site.data.nav_menu -%}
            <li>
              <a class="nav-menu-link" href="{{ menu_item.link }}">
                {{ menu_item.name }}
              </a>
            </li>
          {% endfor -%}
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="social-link">
            <a href="https://github.com/gabrieltanchen" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="social-link">
            <a href="https://twitter.com/gabrieltanchen" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="social-link">
            <a href="https://www.linkedin.com/in/gabriel-tan-chen-28056688/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="nav-drawer-container">
</div>
<div class="nav-drawer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell nav-drawer-header">
        <a class="nav-menu-logo nav-menu-logo-drawer" rel="author" href="{{ "/" | relative_url }}">
          {{ site.title | escape }}
        </a>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <ul class="vertical menu nav-menu">
          {%- for menu_item in site.data.nav_menu -%}
            <li>
              <a class="nav-menu-link nav-menu-link-small" href="{{ menu_item.link }}">
                {{ menu_item.name }}
              </a>
            </li>
          {% endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>
