.parallax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;

  .hero-image {
    background-position: center bottom;
    background-size: cover;
    bottom: 0;
    // height: 100vh;
    left: -5px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateZ(-1px) scale(2);
    // width: 100%;

    &:after {
      background-color: rgba(0, 0, 0, 0.5);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}


.page-container {
  position: relative;
  z-index: 5;
}

.main-content {
  background-color: $white;
  // margin-top: 400px;
  padding-top: 100px;
  position: relative;
  height: 500px;

  // &:before {
  //   background-image: linear-gradient(transparent, $black);;
  //   bottom: 100%;
  //   content: '';
  //   display: block;
  //   height: 400px;
  //   left: 0;
  //   position: absolute;
  //   // top: 0;
  //   width: 100%;
  // }

  .grid-container {
    position: relative;
    // top: -300px;

    p {
      color: $black;
      font-family: 'proxima-nova', sans-serif !important;
      font-size: 18px;
      font-style: normal !important;
      font-weight: 400 !important;
      margin: 0 auto 16px auto;
      max-width: 560px !important;
    }
  }
}
