@keyframes homeTitle1FadeIn {
  0% {
    opacity: 0;
    top: 10px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes homeTitle2FadeIn {
  0% {
    opacity: 0;
    top: 10px;
  }

  66% {
    opacity: 0;
    top: 10px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes homeTitle3FadeIn {
  0% {
    opacity: 0;
    top: 10px;
  }

  80% {
    opacity: 0;
    top: 10px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.home-title {
  height: 100vh;
  padding-top: 30%;
  width: 100%;

  span {
    color: $white;
    font-family: 'proxima-nova', sans-serif !important;
    font-size: 18px;
    font-style: normal !important;
    font-weight: 400 !important;

    @media screen and (min-width: 40em) {
      font-size: 24px;
    }
  }

  h1 {
    color: $white;
    font-family: 'ratio', sans-serif !important;
    font-size: 48px;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

    @media screen and (min-width: 40em) {
      font-size: 64px;
    }
  }
}

// .home-title-1 {
//   animation-duration: 500ms;
//   animation-name: homeTitle1FadeIn;
//   animation-timing-function: ease-in;
// }
//
// .home-title-2 {
//   animation-duration: 1500ms;
//   animation-name: homeTitle2FadeIn;
//   animation-timing-function: ease-in;
// }
//
// .home-title-3 {
//   animation-duration: 2500ms;
//   animation-name: homeTitle3FadeIn;
//   animation-timing-function: ease-in;
// }
//
// .home-title-1,
// .home-title-2,
// .home-title-3 {
//   color: $white;
//   position: relative;
//   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
// }
