.post-main-image {
  text-align: center;

  img {
    background-position: center center;
    background-size: cover;

    @media screen and (min-width: 40em) {
      max-height: calc(100vh - 80px);
    }
  }
}

.post-container {
  padding-top: 30px;

  h1,
  h2,
  p,
  .photo-info {
    margin: 0 auto 16px auto;
    max-width: 560px !important;
  }

  .photo-info {
    tbody {
      border: 0;

      tr {
        background-color: transparent;

        td {
          padding: 0;

          &.info-label {
            font-weight: 600 !important;
          }
        }
      }
    }
  }

  .post-date {
    font-size: 16px;
    margin-bottom: 0;
  }

  .post-photo-left {
    @media screen and (min-width: 40em) {
      float: left;
      margin-bottom: 0;
      padding: 0 15px 0 0;
      width: 350px;
    }
  }

  .post-photo-left-square {
    @media screen and (min-width: 40em) {
      float: left;
      margin-bottom: 0;
      padding: 0 15px 0 0;
      width: 250px;
    }
  }

  .post-photo-right {
    @media screen and (min-width: 40em) {
      float: right;
      margin-bottom: 0;
      padding: 0 0 0 15px;
      width: 350px;
    }
  }

  .post-photo-right-square {
    @media screen and (min-width: 40em) {
      float: right;
      margin-bottom: 0;
      padding: 0 0 0 15px;
      width: 250px;
    }
  }
}
