$black: #000;
$grey: #808080;
$grey-light: #d3d3d3;
$white: #fff;

$gt-background-color: #051923;
$gt-hover-color: #0582ca;
$gt-hover-secondary-color: #00a6fb;
$gt-primary-color: #003554;
$gt-secondary-color: #006494;

$topbar-background: transparent;
$titlebar-background: $gt-primary-color;
