---
layout: default
---
<div class="parallax-container">
  <div class="hero-image">
  </div>
  <div class="grid-container page-container">
    <div class="home-title">
      <span class="title-1">Hello world,</span> <span class="title-2">my name is</span>
      <h1 class="title-3">Gabriel Tan-Chen.</h1>
    </div>
  </div>
  <div class="main-content">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell profile-photo">
          <img src="/assets/images/gabriel.jpg">
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          <p>
            I am a husband, father, and software developer based in Waterloo,
            Ontario.
          </p>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          <p>
            As a software developer, I find enjoyment in building a relational
            experience with the pixels that surround us, as it’s the stories
            told by those pixels that can influence the reality of tomorrow.
            I currently work at Shopify, where I develop with Golang and Ruby.
            I previously worked at a startup in Waterloo's Accelorator Centre,
            building a digital marketplace using Node.js and Ember.js. Prior to
            moving to Waterloo, I was a consultant in Toronto working with
            enterprise companies in industries ranging from banking to
            manufacturing. I am a graduate of the University of Toronto with an
            Honours degree in computer science.
          </p>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          <p>
            When I am unplugged, I am mostly outdoors with my family – probably
            doing our best to tire out our dog, Luna, though we’ve accepted this
            may be impossible. We love to travel as a family, and I do my best
            to capture the beauty of our surroundings with my humble camera. I
            can also be found outside training for and racing in any number of
            triathlon events or marathons. I believe it’s important to keep the
            body as active as the mind – and no, all this running still does not
            manage to exhaust Luna.
          </p>
        </div>
      </div>
      <div class="grid-x gallery">
        <div class="cell small-6 medium-3 gallery-image">
          <button class="gallery-image-button" style="background-image: url('/assets/images/gallery/gallery-1.jpg');" data-image="/assets/images/gallery/gallery-1.jpg">
          </button>
        </div>
        <div class="cell small-6 medium-3 gallery-image">
          <button class="gallery-image-button" style="background-image: url('/assets/images/gallery/gallery-2.jpg');" data-image="/assets/images/gallery/gallery-2.jpg">
          </button>
        </div>
        <div class="cell small-6 medium-3 gallery-image">
          <button class="gallery-image-button" style="background-image: url('/assets/images/gallery/gallery-3.jpg');" data-image="/assets/images/gallery/gallery-3.jpg">
          </button>
        </div>
        <div class="cell small-6 medium-3 gallery-image">
          <button class="gallery-image-button" style="background-image: url('/assets/images/gallery/gallery-4.jpg');" data-image="/assets/images/gallery/gallery-4.jpg">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <a href="mailto:gabriel@tan-chen.com">
            <i class="fas fa-envelope fa-lg"></i>
          </a>
          <a href="https://github.com/gabrieltanchen" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github fa-lg"></i>
          </a>
          <a href="https://ca.linkedin.com/in/gabriel-tan-chen-28056688" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a href="https://twitter.com/gabrieltanchen" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lightbox-overlay">
  <div class="lightbox-container">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <img class="lightbox-image" />
        </div>
      </div>
    </div>
  </div>
</div>
