---
layout: default
---
<div class="parallax-container">
  <div class="hero-image" style="background-image: url('https://res.cloudinary.com/dsolq4qmw/image/upload/v1542481267/gabrieltanchen/home/home-hero.jpg'), url('https://res.cloudinary.com/dsolq4qmw/image/upload/w_100,e_blur:100,c_fill/v1542481267/gabrieltanchen/home/home-hero.jpg');">
  </div>
  <div class="grid-container page-container">
    <div class="home-title">
      <span>Hello world, my name is</span>
      <h1>Gabriel Tan-Chen.</h1>
    </div>
  </div>
  <div class="main-content">
    <div class="grid-container">
      <img class="profile-photo" src="https://res.cloudinary.com/dsolq4qmw/image/upload/v1542481449/gabrieltanchen/about/gabriel.jpg">
      <p>I am a husband, father, and software developer based in Waterloo, Ontario.</p>
    </div>
  </div>
</div>
