---
layout: default
---
<div class="parallax-container">
  <div class="hero-image" style="background-image: url('/assets/images/home-hero.jpg'), url('/assets/images/home-hero-thumbnail.jpg');">
  </div>
  <div class="grid-container page-container">
    <div class="home-title">
      <span>Hello world, my name is</span>
      <h1>Gabriel Tan-Chen.</h1>
    </div>
  </div>
  <div class="main-content">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell profile-photo">
          <img src="/assets/images/gabriel.jpg">
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          <p>
            I am a husband, father, and software developer based in Waterloo,
            Ontario.
          </p>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          <p>
            I currently work at the Centre for International Governance
            Innovation, where I help build digital interactives to showcase its
            research initiatives. I find enjoyment in building a relational
            experience with the pixels that surround us, as it’s the stories
            told by those pixels that can influence the reality of tomorrow.
            Prior to moving to Waterloo, I was a consultant in Toronto working
            with enterprise companies in industries ranging from banking to
            manufacturing. I am a graduate of the University of Toronto with an
            Honours degree in computer science.
          </p>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          <p>
            When I am unplugged, I am mostly outdoors with my family – probably
            doing our best to tire out our dog, Luna, though we’ve accepted this
            may be impossible. I can also be found outside training for and
            racing in any number of triathlon events or marathons. I believe
            it’s important to keep the body as active as the mind – and no, all
            this running still does not manage to exhaust Luna.
          </p>
        </div>
      </div>
      <div class="grid-x">

      </div>
    </div>
  </div>
</div>
