---
layout: default
---
<div class="grid-container page-container">
  <div class="grid-x">
    <div class="cell post-main-image">
      {% assign title_image_src = 'https://res.cloudinary.com/dsolq4qmw/image/upload/' | append: page.title_image %}
      {% assign title_blur_src = 'https://res.cloudinary.com/dsolq4qmw/image/upload/w_50,e_blur:100,c_fill/' | append: page.title_image %}
      <img src="{{ title_image_src }}" style="background-image: url('{{ title_blur_src }}')">
    </div>
  </div>
  <div class="grid-x">
    <div class="cell post-container">
      <div class="grid-x">
        <div class="cell">
          <h2 class="post-date">
            {{ page.date | date: "%-d %B %Y" }}
          </h2>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          <h1>
            {{ page.title | escape }}
          </h1>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
